@import '../../scss/common.scss';

.Title {
    display: flex;

    label::first-letter {
        font-size: 1.6rem;
        color: $blue;
    }

    label {
        font-size: 1.4rem;
        margin: 0 5px 0 0;
        letter-spacing: 0.1rem;
    }
}

.Title {
    label:hover {
        cursor: pointer;
    }
}

.Title {
    cursor: pointer;
}

.Center {
    justify-content: center;
    min-height: inherit;
    display: flex;
    align-items: center;
}

.Center-Buttons {
    @extend .Center;
}

.Menu {
    margin-bottom: 10px;
    justify-content: center;
}

.MenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    background-color: $white;
}

.MenuButton {
    color: black;
    border-bottom: solid $white 2px;
    padding: 0 30px;
    min-width: 50px;
    justify-content: center;
    text-decoration: none;
}

.Icon {
    padding: 10px;
}

.Icon:hover {
    cursor: pointer;
    color: $blue;
}

.MenuButton:hover {
    cursor: pointer;
    background-color: $background-light;
}

.WithBorder {
    color: $blue;
    border-bottom: solid $blue 4px;
}

.Content {
    flex: 1;
    background-color: $background-light;
}

.AddPadding {
    padding: 10px;
}

.BgBlue {
    background-color: $lightBlue;
}

@include responsive(tablet) {
    .Menu {
        margin-bottom: 0px;
    }

    .AddPadding {
        padding: 40px;
    }


    .Content {
        height: 100%;
        overflow: hidden;
    }

    .Center {
        height: 100%;
    }

    .Center-Buttons {
        justify-content: flex-start;
    }

    .MenuContainer {
        display: block;
        min-height: 70px;
    }
}