@import '/src/scss/common.scss';

.RaceList {
    height: inherit;
    overflow-y: scroll;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 0 10px 10px 10px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.RaceList::-webkit-scrollbar {
    display: none;
}

thead {
    // background-color: $white;
    position: sticky;
    top: 0px;

    tr {
        th {}
    }
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

table td,
table th {
    border: none;
    // padding: 0.3em;
}

th:first-child,
th:last-child,
td:last-child,
td:first-child {
    padding: 20px;
}