$background-light: #F5F7F9;
$white: #ffffff;
$blue: #318CE7;
$green: #00E2B7;
$yellow: #F9F871;

$completed: #6D8B74;
$inProgress: #9D5353;
$error: #e63946;

@mixin responsive($breakpoint) {
    @if $breakpoint ==tablet {
        @media only screen and (min-width: 680px) {
            @content;
        }
    }

    @if $breakpoint ==desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
}